<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CLIENT_ID</key>
	<string>175487580406-38g9g5f4dp3ie6fijia1tdmede4qtb12.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.175487580406-38g9g5f4dp3ie6fijia1tdmede4qtb12</string>
	<key>API_KEY</key>
	<string>AIzaSyDzxDcrunBiLGccy-7_RDUEj2z2asB7U2I</string>
	<key>GCM_SENDER_ID</key>
	<string>175487580406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.junaidzaidii.DriveWell</string>
	<key>PROJECT_ID</key>
	<string>drivetest-ios-6dbd4</string>
	<key>STORAGE_BUCKET</key>
	<string>drivetest-ios-6dbd4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:175487580406:ios:6afaab755dbb91449314d7</string>
	<key>DATABASE_URL</key>
	<string>https://drivetest-ios-6dbd4.firebaseio.com</string>
</dict>
</plist>
